{% extends "base.html" %}
{% block content %}

<div class="card" style="max-width: 380px; margin: 60px auto;">
    <h2 style="text-align:center; margin-bottom: 16px;">Login </h2>

    {% if error %}
    <p style="color:#d92f40; text-align:center; margin-bottom: 10px;">{{ error }}</p>
    {% endif %}

    <form method="post">
        <label>Usuário</label>
        <input type="text" name="username" placeholder="Digite o usuário">

        <label style="margin-top:16px;">Senha</label>
        <input type="password" name="password" placeholder="Digite a senha">

        <button class="btn" style="width:100%; margin-top:16px;">Entrar</button>
    </form>
</div>

<div style="text-align:center; color:#94a3b8; margin-top: 30px;">
    © 2025 Sistema de Acessos
</div>

{% endblock %}
